@charset "utf-8";
/* CSS Document */

head { 
	display: block; 
}

main{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    align-items: center;   
    }

h1{
	background-color: lightcoral;
	width: 100%;
}

h2{
	text-align: left;
}

div{
	text-align: left;
}

#main_img{
  width: 100%;
  height: auto;
}

.sub_images{
  width: 12%;
  height: auto;
}

title { 
	display: block; 
	background: rgb(240, 36, 16);
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    font-size: 4rem;
    border-radius: 30px; 
}

#nav {
width:750px;
margin:0 auto;
list-style:none;
}

#nav li {
float:left;
margin-left: 5%;	
}

#nav a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
color: #f2f2f2;
background-color: rgb(240, 36, 16);
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

.thick{
	font-weight: 900;
}

#span_link{
	color: darkgreen;
	font-weight: 550;
}

p{
	text-align: center;
      padding: 10px;
      margin: 0 auto;
      font-size: 100%;
}

.left_sided{
	text-align: left;
}

a:visited {
    background-color: darkgrey;
}

.sub_images:active{
	animation-direction: normal;
	width: 20%;
}

